<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Manga_Upload_Bot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Manga_Upload_Bot.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="checkbox1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkbox2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkbox3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="numericUpDown1" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="numericUpDown2" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="numericUpDown3" serializeAs="String">
                <value>72</value>
            </setting>
            <setting name="numericUpDown4" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="watermark" serializeAs="String">
                <value />
            </setting>
        </Manga_Upload_Bot.Properties.Settings>
    </userSettings>
</configuration>